<!DOCTYPE html>

<html>

<head>

    <title>About</title>
    <link rel = "icon" href="/img/mn.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
    <p>
         This website utilizes data from the mapbox and weatherstack api's,
        and is built with Nodejs, Handlebars, and Express.

    </p>    
    <img class="portrait" src="/img/dino.png">
     
    </div>
    
     {{>footer}}
</body>

</html>