<!DOCTYPE html>

<html>

<head>

    <title>About</title>
    <link rel = "icon" href="/img/mn.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}

    <img class="portrait" src="/img/dino.png">
     {{! this value comes from app.js in the corresponding call to render}}
    </div>
    
     {{>footer}}
</body>

</html>